In [63]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt

filename = 'Sample2.xlsx'
df = pd.read_excel(filename, 0)
df

,Es,A,X,C,VBias,C.1,C.2,C.3,C.4,C.5,C.6,C.7,C.8,C.9,C.10,C.11,C.12,C.13,C.14
0,11.9,0.001,25.0,NaN,-5.0,1.093680e-10,1.093910e-10,1.093700e-10,1.093850e-10,1.093840e-10,1.093890e-10,1.093910e-10,1.095290e-10,1.095500e-10,1.095460e-10,1.095450e-10,1.095400e-10,1.095470e-10,1.095500e-10
1,NaN,NaN,50.0,NaN,-4.9,1.093740e-10,1.094040e-10,1.093880e-10,1.094020e-10,1.094030e-10,1.094060e-10,1.094030e-10,1.095530e-10,1.095590e-10,1.095600e-10,1.095550e-10,1.095550e-10,1.095610e-10,1.095660e-10
2,NaN,NaN,75.0,NaN,-4.8,1.093850e-10,1.094110e-10,1.094050e-10,1.094090e-10,1.094130e-10,1.094140e-10,1.094180e-10,1.095590e-10,1.095710e-10,1.095670e-10,1.095730e-10,1.095700e-10,1.095780e-10,1.095820e-10
3,NaN,NaN,100.0,NaN,-4.7,1.094140e-10,1.094360e-10,1.094150e-10,1.094270e-10,1.094280e-10,1.094350e-10,1.094330e-10,1.095830e-10,1.095830e-10,1.095910e-10,1.095890e-10,1.095790e-10,1.095910e-10,1.095990e-10
4,NaN,NaN,150.0,NaN,-4.6,1.094160e-10,1.094380e-10,1.094310e-10,1.094390e-10,1.094380e-10,1.094450e-10,1.094390e-10,1.095900e-10,1.095930e-10,1.096010e-10,1.096030e-10,1.095930e-10,1.096090e-10,1.096100e-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,NaN,NaN,NaN,NaN,1.6,-7.993590e-12,-9.455120e-12,-1.021660e-11,-1.149660e-11,-1.244900e-11,-1.385270e-11,-1.567630e-11,5.449920e-11,5.313280e-11,5.245960e-11,5.184680e-11,5.028690e-11,4.814650e-11,4.555000e-11
67,NaN,NaN,NaN,NaN,1.7,-7.389130e-11,-7.437510e-11,-7.514730e-11,-7.565290e-11,-7.622880e-11,-7.728650e-11,-7.848180e-11,-2.094220e-12,-4.368530e-12,-5.161590e-12,-4.973760e-12,-5.826580e-12,-7.332070e-12,-8.968470e-12
68,NaN,NaN,NaN,NaN,1.8,-1.453970e-10,-1.472300e-10,-1.476740e-10,-1.483920e-10,-1.489020e-10,-1.494000e-10,-1.496620e-10,-6.839970e-11,-7.037660e-11,-7.081110e-11,-7.088030e-11,-7.143430e-11,-7.243990e-11,-7.352700e-11
69,NaN,NaN,NaN,NaN,1.9,-2.272310e-10,-2.281610e-10,-2.282070e-10,-2.282550e-10,-2.287700e-10,-2.285830e-10,-2.284770e-10,-1.419370e-10,-1.444950e-10,-1.451680e-10,-1.452210e-10,-1.455310e-10,-1.459310e-10,-1.463270e-10
70,NaN,NaN,NaN,NaN,2.0,-3.137500e-10,-3.139300e-10,-3.145080e-10,-3.143830e-10,-3.148370e-10,-3.142830e-10,-3.135210e-10,-2.239610e-10,-2.260330e-10,-2.264270e-10,-2.264070e-10,-2.266110e-10,-2.262820e-10,-2.263170e-10

In [64]:
X = np.array(df.iloc[:,0].dropna(how='all').tolist()).transpose() * np.expm1(1e-6)
xnums = X.size

df_na = df.dropna(axis=1)
df_na

,VBias,C.1,C.2,C.3,C.4,C.5,C.6,C.7,C.8,C.9,C.10,C.11,C.12,C.13,C.14
0,-5.0,1.093680e-10,1.093910e-10,1.093700e-10,1.093850e-10,1.093840e-10,1.093890e-10,1.093910e-10,1.095290e-10,1.095500e-10,1.095460e-10,1.095450e-10,1.095400e-10,1.095470e-10,1.095500e-10
1,-4.9,1.093740e-10,1.094040e-10,1.093880e-10,1.094020e-10,1.094030e-10,1.094060e-10,1.094030e-10,1.095530e-10,1.095590e-10,1.095600e-10,1.095550e-10,1.095550e-10,1.095610e-10,1.095660e-10
2,-4.8,1.093850e-10,1.094110e-10,1.094050e-10,1.094090e-10,1.094130e-10,1.094140e-10,1.094180e-10,1.095590e-10,1.095710e-10,1.095670e-10,1.095730e-10,1.095700e-10,1.095780e-10,1.095820e-10
3,-4.7,1.094140e-10,1.094360e-10,1.094150e-10,1.094270e-10,1.094280e-10,1.094350e-10,1.094330e-10,1.095830e-10,1.095830e-10,1.095910e-10,1.095890e-10,1.095790e-10,1.095910e-10,1.095990e-10
4,-4.6,1.094160e-10,1.094380e-10,1.094310e-10,1.094390e-10,1.094380e-10,1.094450e-10,1.094390e-10,1.095900e-10,1.095930e-10,1.096010e-10,1.096030e-10,1.095930e-10,1.096090e-10,1.096100e-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,1.6,-7.993590e-12,-9.455120e-12,-1.021660e-11,-1.149660e-11,-1.244900e-11,-1.385270e-11,-1.567630e-11,5.449920e-11,5.313280e-11,5.245960e-11,5.184680e-11,5.028690e-11,4.814650e-11,4.555000e-11
67,1.7,-7.389130e-11,-7.437510e-11,-7.514730e-11,-7.565290e-11,-7.622880e-11,-7.728650e-11,-7.848180e-11,-2.094220e-12,-4.368530e-12,-5.161590e-12,-4.973760e-12,-5.826580e-12,-7.332070e-12,-8.968470e-12
68,1.8,-1.453970e-10,-1.472300e-10,-1.476740e-10,-1.483920e-10,-1.489020e-10,-1.494000e-10,-1.496620e-10,-6.839970e-11,-7.037660e-11,-7.081110e-11,-7.088030e-11,-7.143430e-11,-7.243990e-11,-7.352700e-11
69,1.9,-2.272310e-10,-2.281610e-10,-2.282070e-10,-2.282550e-10,-2.287700e-10,-2.285830e-10,-2.284770e-10,-1.419370e-10,-1.444950e-10,-1.451680e-10,-1.452210e-10,-1.455310e-10,-1.459310e-10,-1.463270e-10
70,2.0,-3.137500e-10,-3.139300e-10,-3.145080e-10,-3.143830e-10,-3.148370e-10,-3.142830e-10,-3.135210e-10,-2.239610e-10,-2.260330e-10,-2.264270e-10,-2.264070e-10,-2.266110e-10,-2.262820e-10,-2.263170e-10

In [69]:
df_new = df.iloc[:, 5:12]
Z = df.iloc[:, 4].transpose() 
Z
XY_Transpose = df_new.transpose() 
XY_Transpose
df.iloc[:, 0][0]

11.9

In [62]:
Z.tolist().index(2)

ValueError: 2 is not in list

In [52]:
g_df  = pd.DataFrame(0, index=range(Z[0:2].size), columns=range(1+2*4))
g_df[0] = Z[0:2]

C1 = -1
C2= -2
C3 = -3 
C4 = -4
g_list = [C1, C2, C3, C4]

g_df.loc[0, 1+4*1:4*(1+1) ] = g_list
g_df

     0  1  2  3  4  5  6  7  8
0 -5.0  0  0  0  0 -1 -2 -3 -4
1 -4.9  0  0  0  0  0  0  0  0

In [47]:
list  = pd.DataFrame(0, index=range(5), columns=range(5))
to_append  = [-5.0, 4.431715845815217e-11, 1.095384757709251e-10, -878399528701719.8, 0.0009618979475544892]
#my_df.insert(iloc=5, column='',value = to_append)

my_df.loc[-1] = to_append  # adding a row
my_df.index = my_df.index + 1  # shifting index
my_df = my_df.sort_index()  # sorting by index
my_df

     0             1             2             3         4
0 -5.0  4.431716e-11  1.095385e-10 -8.783995e+14  0.000962
1  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000
2  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000
3  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000
4  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000
5  0.0  0.000000e+00  0.000000e+00  0.000000e+00  0.000000

In [12]:
#Z.tolist().index(-5)
Z.size
Z[0]
Z[Z.size - 1]

2.0

In [258]:
def linear_regression(x, y):     
    N = len(x)
    x_mean = x.mean()
    y_mean = y.mean()
    
    B1_num = ((x - x_mean) * (y - y_mean)).sum()
    B1_den = ((x - x_mean)**2).sum()
    B1 = B1_num / B1_den
    
    B0 = y_mean - (B1*x_mean)
    
    reg_line = 'y = {} + {}β'.format(B0, B1)
    return (B0, B1, reg_line)

x = np.array([25, 50, 75, 100, 150, 200, 250]).transpose() * np.expm1(1e-6)
x = x.reshape((-1, 1))
for n in range(6):
    y = XY_Transpose.iloc[:, [n]].to_numpy() # 0 = Y1   
    C0, C1, reg_line =linear_regression(x, y)
    #print('Regression Line: ', reg_line)
    print('Z = ', Z_Group[n] )            
    print('C1 = ', C1)
    print('C0 = ' , C0)
    print('NDL = ', NDL)
    print('d = ', d)

Regression Line:  y = 1.0937369162995594e-10 + 7.312771674008725e-11β
C0 =  1.0937369162995594e-10
C1 =  7.312771674008725e-11
Z =  -5.0
Regression Line:  y = 1.093861233480176e-10 + 9.074885330399128e-11β
C0 =  1.093861233480176e-10
C1 =  9.074885330399128e-11
Z =  -4.9
Regression Line:  y = 1.0939581057268722e-10 + 9.920699885463538e-11β
C0 =  1.0939581057268722e-10
C1 =  9.920699885463538e-11
Z =  -4.8
Regression Line:  y = 1.0941907929515417e-10 + 6.40528314096953e-11β
C0 =  1.0941907929515417e-10
C1 =  6.40528314096953e-11
Z =  -4.7
Regression Line:  y = 1.0942584581497798e-10 + 7.656383837007184e-11β
C0 =  1.0942584581497798e-10
C1 =  7.656383837007184e-11
Z =  -4.6
Regression Line:  y = 1.0943476211453745e-10 + 1.0784135577092432e-10β
C0 =  1.0943476211453745e-10
C1 =  1.0784135577092432e-10
Z =  -4.5

In [248]:


Z.tolist().index(-5)
#print (Z.index[df['B'] == 19].tolist())

Regression Line:  y = 1.0937369162995594e-10 + 7.312771674008725e-11β
C0 =  1.0937369162995594e-10
C1 =  7.312771674008725e-11
Z =  -5.0

0

In [239]:
# Step2 -> Regression Line:  y = 1.0937369162995594e-10 + 7.312771674008725e-11β
# C0 =  1.0937369162995594e-10
# C1 =  7.312771674008725e-11
# Z =  -5.0


# Step3 Parameter cal.
q = 1.60217663 * 1e-19     # q = 1.60217663e-19
E0 = 8.854187817 * 1e-12   # E0 = 8.854187816999999e-12
Es = 11.9
A = 1 * 1e-3 


NDL = - (C0 ** 3) / (2 * q * E0 * Es * (A ** 2) * C1) # NDL = -529932456201327.06
d = (E0 * Es * A) / C0 # d = 0.0009633471582798988