In [59]:
import numpy as np
import pandas as pd

In [125]:
sn = 'LG'
dataset = pd.read_excel('dataset3.xlsx', sheet_name=None)


if sn in list(dataset.keys()):
    print('ok search')
else:
    print('not ok search')

dataset = pd.read_excel('dataset3.xlsx', sheet_name=sn)

#dataset = pd.read_excel('dataset.xlsx', sheet_name='AUO')
dataset.head()

ok search

,GDS Vd=10V [dark],Vgate,ABSID,ABSID.1,ABSID.2,GDS Vd=10V [1.5w],Vgate.1,ABSID.3,ABSID.4,ABSID.5,GDS Vd=10V [2.5w],Vgate.2,ABSID.6,ABSID.7,ABSID.8,GDS Vd=10V [4w],Vgate.3,ABSID.9,ABSID.10,ABSID.11
0,NaN,-25.0,5.260000e-13,5.260000e-13,5.260000e-13,NaN,-25.0,1.243000e-12,1.243000e-12,1.243000e-12,NaN,-25.0,1.426000e-12,1.426000e-12,1.426000e-12,NaN,-25.0,1.435000e-12,1.435000e-12,1.435000e-12
1,NaN,-24.8,3.360000e-13,3.360000e-13,3.360000e-13,NaN,-24.8,9.890000e-13,9.890000e-13,9.890000e-13,NaN,-24.8,1.140000e-12,1.140000e-12,1.140000e-12,NaN,-24.8,1.437000e-12,1.437000e-12,1.437000e-12
2,NaN,-24.6,2.820000e-13,2.820000e-13,2.820000e-13,NaN,-24.6,1.060000e-12,1.060000e-12,1.060000e-12,NaN,-24.6,1.353000e-12,1.353000e-12,1.353000e-12,NaN,-24.6,1.267000e-12,1.267000e-12,1.267000e-12
3,NaN,-24.4,2.250000e-13,2.250000e-13,2.250000e-13,NaN,-24.4,9.910000e-13,9.910000e-13,9.910000e-13,NaN,-24.4,1.133000e-12,1.133000e-12,1.133000e-12,NaN,-24.4,1.277000e-12,1.277000e-12,1.277000e-12
4,NaN,-24.2,3.170000e-13,3.170000e-13,3.170000e-13,NaN,-24.2,7.520000e-13,7.520000e-13,7.520000e-13,NaN,-24.2,1.158000e-12,1.158000e-12,1.158000e-12,NaN,-24.2,1.222000e-12,1.222000e-12,1.222000e-12

In [104]:
row, column = dataset.shape
print("Dataset size : ", row , "x" , column)
print("Null Row : ", row + 1)
print("Null column : ", column + 1)

Dataset size :  502 x 20
Null Row :  503
Null column :  21

In [105]:
colList = dataset.columns.tolist() # All columns
nanCol = [] # Declare null columms
nanIndex = []
for i in range(len(colList)):
    nan = ((dataset[colList[i]]).isnull() == True)[0] # nan is True or False
    if(nan): # if nan == true (isnull)
        nanCol.append(colList[i]) 
        nanIndex.append(i)
        
nanIndex.append(column)
print(nanCol)  
print(nanIndex)
#print(nanIndex[1]-2)  == 3
# Divide into groups 
for i in range(len(nanCol)):
    nanCol[i] = dataset.iloc[0:row, nanIndex[i]:nanIndex[i+1]]
    
len(nanCol)
nn = nanCol[0].columns[1]
nanCol[0]

['GDS Vd=10V [dark]', 'GDS Vd=10V [1.5w]', 'GDS Vd=10V [2.5w]', 'GDS Vd=10V [4w]']
[0, 5, 10, 15, 20]

     GDS Vd=10V [dark]  Vgate         ABSID       ABSID.1       ABSID.2
0                  NaN  -25.0  5.260000e-13  5.260000e-13  5.260000e-13
1                  NaN  -24.8  3.360000e-13  3.360000e-13  3.360000e-13
2                  NaN  -24.6  2.820000e-13  2.820000e-13  2.820000e-13
3                  NaN  -24.4  2.250000e-13  2.250000e-13  2.250000e-13
4                  NaN  -24.2  3.170000e-13  3.170000e-13  3.170000e-13
..                 ...    ...           ...           ...           ...
497                NaN  -24.2  1.890000e-13  1.890000e-13  1.890000e-13
498                NaN  -24.4  3.880000e-13  3.880000e-13  3.880000e-13
499                NaN  -24.6  2.330000e-13  2.330000e-13  2.330000e-13
500                NaN  -24.8  3.960000e-13  3.960000e-13  3.960000e-13
501                NaN  -25.0  4.180000e-13  4.180000e-13  4.180000e-13

[502 rows x 5 columns]

In [108]:
colName = nanCol[0].columns[1]

value = -24.9 # search value
newY = []

if len( nanCol[0].query("`{0}` == @value".format(colName)) ) > 0:
    for i in range(len(nanCol)) : #幾組   
        dd = dataset.query("`{0}` == @value".format(colName))
        print(dd)
        for j in range(len(dd)):   
            for p in range(2, nanIndex[1]):
                ABSIDName = nanCol[i].columns[p] # ABSID || ABSID.1 || ABSID.3 ...
                newY.append(dd[ABSIDName].to_numpy()[j]) 
    print(newY)
else :
    for i in range(len(nanCol)) : #幾組
        VgateName = nanCol[i].columns[1] # Vgate || Vgate.1 || Vgate.2 ... 
        ABSIDName = nanCol[i].columns[2] # ABSID || ABSID.1 || ABSID.3 ...
        vgateArr = nanCol[i][VgateName].to_numpy()
        arr = dataset[nanCol[3].columns[1]].to_numpy()

        above = vgateArr[np.searchsorted(arr,value,'left')-1]
        below = vgateArr[np.searchsorted(arr,value,'right')]
        #print(above, below) 
        X = value
        x1 = min(above, below)
        x2 =  max(above, below)
        dd = nanCol[i].query("`{0}` == @above or `{0}` == @below".format(VgateName))
        dd = dd.sort_index(ascending=True)
        #print(dd)
        
        for a in range(2):   
            for p in range(2, nanIndex[1]):
                ABSIDName = nanCol[i].columns[p] # ABSID || ABSID.1 || ABSID.3 ...
                y1 = dd.query("`{0}` == @x1".format(VgateName))[ABSIDName].to_numpy()[a]
                y2 = dd.query("`{0}` == @x2".format(VgateName))[ABSIDName].to_numpy()[a]
                Y = y1 + (X-x1)*(y2-y1)/(x2-x1)
                newY.append(Y)
                
        #print(newY)

tmp = []
for k in range(0, len(newY), (nanIndex[1] - 2)*2) :
    lt = []
    
    lt.append("[" + nanCol[int(k/(nanIndex[1] - 2)/2)].columns[0] + "]")
    lt.append(value)
   
    for o in range((nanIndex[1] - 2)) :
        for u in range(2):
            lt.append(newY[u*((nanIndex[1] - 2))+o+k])
    
    tmp.append(lt)


newCol = [] 
newCol.append('Cate')
newCol.append('Vgate')
for i in range(nanIndex[1]-2):
    newCol.append('pos')
    newCol.append('neg')

#['Cate', 'Vgate', 'pos', 'neg', 'pos', 'neg', 'pos', 'neg']

tf = pd.DataFrame(columns=newCol)   
#tf = pd.DataFrame(columns=['Cate', 'Vgate', 'pos', 'neg', 'pos1', 'neg1', 'pos2', 'neg2'])
#tf = pd.DataFrame(columns=['Cate', 'Vgate', 'pos', 'neg'])
for w in range(len(tmp)):
    tf.loc[w] = tmp[w]
print(tf)

# Save to excel
writer = pd.ExcelWriter('result.xlsx', engine='xlsxwriter')
tf.to_excel(writer, sheet_name='Sheet1')
writer.save()

                  Cate  Vgate           pos           neg           pos  \
0  [GDS Vd=10V [dark]]  -24.9  4.310000e-13  4.070000e-13  4.310000e-13
1  [GDS Vd=10V [1.5w]]  -24.9  1.116000e-12  9.460000e-13  1.116000e-12
2  [GDS Vd=10V [2.5w]]  -24.9  1.283000e-12  1.150000e-12  1.283000e-12
3    [GDS Vd=10V [4w]]  -24.9  1.436000e-12  1.561500e-12  1.436000e-12

            neg           pos           neg
0  4.070000e-13  4.310000e-13  4.070000e-13
1  9.460000e-13  1.116000e-12  9.460000e-13
2  1.150000e-12  1.283000e-12  1.150000e-12
3  1.561500e-12  1.436000e-12  1.561500e-12